<ion-row>
  <ion-col class="ion-text-center">
      <h3>Seleccioná un Avatar</h3>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-slides [options]="avatarSlide" #avatarsSlide>
        <ion-slide *ngFor="let avatar of avatars" class="ion-text-center">
          <ion-img class="pick-avatar" 
                  src="/assets/avatars/{{avatar.img}}"
                  [ngClass]="{'pick-selected-avatar': avatar.selected}"
                  (click)="selectAvatar(avatar)">
                </ion-img>
        </ion-slide>
      </ion-slides>
  </ion-col>
</ion-row> 