<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="'/assets/avatars/' + post.user.avatar" />
    </ion-avatar>
    <ion-label>
      <h2><b>{{ post.user.name }}</b></h2>
      <ion-text color="medium">
        <h5>{{ post.user.email }}</h5>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-slides pager="true">
    <ion-slide class="image-slide" 
      [style]=" imgUrl1 | domSanitizer">
    </ion-slide>
    <ion-slide class="image-slide" 
      [style]=" imgUrl2 | domSanitizer">
    </ion-slide>
    <ion-slide class="image-slide" 
      [style]=" imgUrl3 | domSanitizer">
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>
      {{ post.message }}
    </ion-label>
  </ion-item>
</div>